body {
  min-height: 100%;
  margin: 0;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  background: #18314f;
}